<h1> INDEXXXXXXXXXXXXX</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <!-- <th>View</th>
      <th>Edit</th>
      <th>Delete</th> -->
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board|%>
    <tr class="board" data-value="<%=board.id%>"><!--data-value는 마음대로 쓴거 d1이렇게 써도 됨-->
      <td ><%= board.id%></td>
      <td class="title" data-id="<%= board.id%>"><%= board.title%></td>
      <!-- <td><a href="/boards/<%=board.id%>">Show</a></td>
      <td><a href="/boards/<%=board.id%>/edit">Edit</a></td>
      <td><a href="/boards/<%=board.id%>" data-method="delete" data-confirm="Are U Sure?">Delete</a></td> -->
    </tr>
    <% end %>
  </tbody>
</table>
<a href="/boards/new" class="btn btn-warning">New</a>
<button type="button" class="btn btn-info change-title" > Change Title</button>
<button type="button" class="btn btn-danger color-btn" data-s="text-danger"> Change to red</button>
<button type="button" class="btn btn-primary color-btn" data-s="text-primary"> Change to Blue</button>
<button type="button" class="btn btn-success color-btn" data-s="text-success"> Change to Green</button>
<script>

  $(document).ready(function(){
    // 1. 마우스 오버를 하면
    // 1-1. 버튼을 찾아서 오버이벤트 달기
      $('.color-btn').on('mouseover',function(){
        console.log("mose over");
        console.log($(this).attr("data-s")); //속성을 가져올 수 있음
        console.log($(this).data("s")); //jQuery에서는 data- 가 있으면 뒤에 붙은걸 가져올 수 있음
        // $로 안감싸 주면 jQuery문법을 사용 못함. jQuery객체로 만들어주는거
        // $(this).toggleClass("text-danger");
        var tStyle=$(this).data("s");
        // 2. table 전체에 (table을 찾아서)
        // 3. 글자 색을 바꿔주는 class를 넣는다
        $('.table').toggleClass(tStyle);
      });

      $('.color-btn').on('mouseout',function(){//mouseleave로 해도 됨
        var textStyle=$(this).data("s");
        $('.table').toggleClass(textStyle);
      });
      // 1. td에 해당하는 부분을 클릭하면
      $('.title').on('click',function(){
        // 2. td 안에 있는 data-id의 속성 값을 가져와서
          var id = $(this).data("id");
        // 3. 페이지를 이동시킴
        location.href="/boards/"+id;
      });

  });
  // class이름으로 선택할 떄
  // $('.className') ==document.getElementsByClassName
  // $('#id') == document.getElementById
  // $('HTMLtag') ==document.getElementsByTagName
  // var btn = $('button');  //버튼 tag들을 가지고 오겠다.
  // console.log(btn);

</script>

 <!-- <script src="./title.js"></script>
  <script src="./text-color.js"></script> -->
